body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eef1f5;
}

.chat-container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.chat-header {
    padding: 15px;
    background: #3f51b5;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-box {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background: #f4f6fb;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.message {
    max-width: 75%;
    padding: 10px 14px;
    border-radius: 12px;
    display: block;
    word-wrap: break-word;
}

.sent {
    background: #3f51b5;
    color: white;
    align-self: flex-end;
    text-align: right;
}

.received {
    background: #e0e3ff;
    color: black;
    align-self: flex-start;
    text-align: left;
}

.timestamp {
    font-size: 10px;
    opacity: 0.6;
    margin-top: 3px;
}

.input-area {
    display: flex;
    padding: 12px;
    border-top: 1px solid #ddd;
    background: white;
}

.input-area input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #bbb;
    outline: none;
}

.send-btn {
    background: #3f51b5;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 12px 15px;
    margin-left: 10px;
    cursor: pointer;
}
